<nav>
  <a class="button" routerLink="">main</a> |
  <a class="button" routerLink="/soldiers">soldier</a> |
  <a class="button" routerLink="/phoenix">phoenix</a> |
  <a class="button" routerLink="/conway">conway life game</a> |
  <a class="button" routerLink="/shader demo">shader cube demo</a> |
  <a class="button" routerLink="/tile image">tile image</a>|
  <a class="button" routerLink="/gpuinteractive">Gpu interactive</a>|
  <a class="button" routerLink="/colorpicker">colorpicker</a>|
  <a class="button" routerLink="/shader-colorpicker">shader-colorpicker</a>|
  <a class="button" routerLink="/shader-colorpicker-gpu">shader-colorpicker-gpu</a>
  <!-- <button routerLink="/tile image">tile image</button>
  <div class="select1">
    <select #aa (change)="show(aa.value)">
      <option value="/soldiers">soldier</option>
      <option value="/phoenix">phoenix</option>
      <option value="/conway">conway life game</option>
      <option value="/shader demo">shader cube demo</option>
      <option value="/tile image">tile image</option>
    </select>
    <button #aaa routerLink="{{ aa.value }}" (click)="show(aa.value)">
      aa
    </button>
  </div>

  <div>routerLink = {{ aa.value }}</div> -->
</nav>

<router-outlet></router-outlet>
