<!-- <div fxLayout="row" style="height: 100%;">
  <div>asdasdsa</div>
  <div>asdasdsa</div>
</div> -->

<div fxLayout="row">
  <div fxFlex="10" fxLayout="column" id="demo memu">
    demo menu
    <div><a class="button" routerLink="">main</a></div>
    <div><a class="button" routerLink="/soldiers">soldier</a></div>
    <div><a class="button" routerLink="/phoenix">phoenix</a></div>
    <div><a class="button" routerLink="/conway">conway life game</a></div>
    <div><a class="button" routerLink="/shader demo">shader cube demo</a></div>
    <div><a class="button" routerLink="/tile image">tile image</a></div>
    <div>
      <a class="button" routerLink="/boudingbox point source"
        >boundingbox of point source</a
      >
    </div>
    <div><a class="button" routerLink="/tomo"> tomo</a></div>
    <div><a class="button" routerLink="/dance">dance</a></div>
    <div><a class="button" routerLink="/game">game</a></div>
    <div><a class="button" routerLink="/image-grid">image-grid</a></div>
    <div><a class="button" routerLink="/http-concern">http-concern</a></div>
    <div><a class="button" routerLink="/render-target">render target</a></div>
  </div>

  <div style="width: 85%" fxLayout="column">
    demo view
    <router-outlet></router-outlet>
  </div>
</div>
