<nav>
  <a class="button" routerLink="">main</a> |
  <a class="button" routerLink="/soldiers">soldier</a> |
  <a class="button" routerLink="/phoenix">phoenix</a> |
  <a class="button" routerLink="/conway">conway life game</a> |
  <a class="button" routerLink="/shader demo">shader cube demo</a> |
  <a class="button" routerLink="/tile image">tile image</a> |
  <a class="button" routerLink="/boudingbox point source"
    >boundingbox of point source</a
  >
  |
  <a class="button" routerLink="/tomo"> tomo</a> |
  <a class="button" routerLink="/dance">dance</a> |
  <a class="button" routerLink="/game">game</a>

</nav>

<router-outlet></router-outlet>
